*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.instagram-link{
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 40px;
    right: 105px;
    background-image:linear-gradient(rgb(101, 22, 228), #5B68D6, #D14A7C, #F97D49, #FEC053) ;
    color: #ebe7f0f5;
    border-radius: 20px;
    text-align: center;
    font-size: 60px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.fa-instagram{
    margin-top: 1px;
}
.whatsapp-link{
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 40px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 60px;
    text-align: center;
    font-size: 62px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.fa-whatsapp{
    margin-top: 1px;
}
header{
    margin: 0;
    margin-top: 1%;
    background-color: rgba(128, 128, 128, 0);
    list-style: none;
    width: 100%;
    height: 11vh;
    padding: 0;
    text-align: center;
    /*position: fixed;
    right: 0;
    top: 50%;
    background-image: url(https://i1.sndcdn.com/avatars-000245034411-4xxdtb-t500x500.jpg);
    background-attachment: fixed;
    background-size: 1px;
    */
    
}   
p{
    display: inline;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center ;
}
header a{
    color: rgb(10, 9, 9);
    display: inline-block;
    padding: 1%;
    text-decoration: none;
    /*transition: all .60s;*/
    font-size: 20px ;
    background-color: black;
    opacity: 0;
    animation: anima 8s ease infinite;
    height: 100%;
   
}
@keyframes anima {
    to {
        opacity: 1;
    }
}

header a:hover{
    background-color: rgb(7, 5, 5);
    
}
header:last-child a{
    float: right;
    background-color: turquoise;
}

.card{
    
    width: 100%;
    height:250px;
    background-color: maroon;
}
.card2{
    
    width: 100%;
    height:250px;
    background-color: mediumblue;
}
.card3{
    
    width: 100%;
    height:250px;
    background-color: orangered;
}
#cabeca{
    width: 100%;
    background-color: black;
}
#cabeca ul{
    list-style: none;
    padding: 0;
}
#cabeca ul li{
    display: inline;
}
#cabeca ul li a{
    color: white;
    display: inline-block;
    padding: 1%;
    text-decoration: none;
    transition: all .4s;
}
#cabeca ul li a:hover{
    background-color: turquoise;
}
#cabeca ul li:last-child a{
    float: right;
    background-color: grey;
}
/*------------------------------------Pag2---------------------------------------------*/
.cabeca{
    background-color: rgb(28, 187, 68);
    
}
.cabeca ul{
    list-style: none;
    padding: 0;
}
.cabeca ul li{
    display: inline;
}
.cabeca ul li a{
    color: rgb(228, 26, 26);
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    transition: all .4s;
}
.cabeca ul li a:hover{
    background-color: turquoise;
}
.cabeca ul li:last-child a{
    float: right;
    background-color: rgb(51, 190, 33);
}

/*.card{
    position: relative;
    display: inline-block;
    background-color: #fff;
    width: 32.21%;
    height: 531px;
    vertical-align: top;
    margin: 0;
    padding: 10px 10px 0;
    border-right:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}*/
/*.card2{
    position: relative;
    display: inline-block;
    background-color: violet;
    width: 32.21;
    height: 531px;
    vertical-align: top;
    margin: 0;
    padding: 10px 10px 0;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
} */
